  #content {
    background: white;
    padding: 0em 0em 0em 0em;
    /*min-height: 600px;*/
    position: relative;
   /*padding-left: 50px;
    padding-right: 15vw;*/
    font-size: 15pt;
    color: #101641;
    padding: 25px;
    /*padding-bottom: 100px;*/
  }
  
#banner.non-home
{
  background: url("../img/earth.jpg") no-repeat center center;
  background-size: cover;
  max-height: 500px;
  height: 245px;
}