  #content {
    background: white;
    padding: 0em 0em 0em 0em;
    /*min-height: 600px;*/
    position: relative;
    padding-left: 50px;
    padding-right: 15vw;
    font-size: 15pt;
  }

    #pro-pic img
    {
      float: left;
      padding: 10px 10px 10px 10px;
      display: block;
      max-width:400px;
      max-height:400px;
      width: 80vw;
      height: 80vw;
      margin-right: 10vw;
      margin-bottom: 20px;
    }

    #content h1 {
      text-align: center
    }

    #content p {
      position: relative;
      /*margin-left: 0px;*/
      /*margin-right: 15vw;*/
    }

    #content .paragraph {
      position: relative;
      margin-bottom: 10px;
    }

    /*#content .timeline
    {
      position: absolute;
      bottom: 0px;
      text-align: center;
      width: 100vw;
    }

      #content .timeline img
      {
        height: 12vw;
        width: 12vw;
        position: relative;
        margin: 10px 4vw;
      }*/

  #footer {
    background: #101641;
    color: #C7CAE0;
    text-align: left;
    padding: 30px;
  }

    #footer #left-pane {
      padding: 0 0 0 0;
    }

    #footer #left-pane .row {
      margin: 20px;
      margin-right: 20px;
    }

      #footer .row .hobby {
        padding: 20px;
        text-align: bottom;
      }

        #footer .row .active {
          background-color: #C7CAE0;
          color: #101641;
          border-radius: 5px;
        }

        #footer .hovered {
          background-color: #02458A;
          color: white;
          border-radius: 5px;
        }

          #footer #left-pane img.thumb {
            height: 100px;
            width: 100px;
            margin-right: 5px;
            display: block;
            border-radius: 5px;
          }

          #footer #left-pane .row .hobby .text {
            color: #C7CAE0;
          }

          #footer #left-pane .hobby p b {
            margin-left: 10px;
          }

    #footer #right-pane {
      background-color: #C7CAE0;
      color: #101641;
      padding-top: 30px;
      padding-left: 50px;
      overflow: auto;
      min-height: 539px;
      border-radius: 5px;
    }

      #footer #right-pane h1 {
        margin: 0px;
        margin-bottom: 20px;
      }

      #footer #right-pane img.banner {
        height: 200px;
        width: auto;
      }

      #footer #right-pane p {
        margin-top: 20px;
      }