

#banner.non-home
{
  background: url("../img/earth.jpg") no-repeat center center;
  background-size: cover;
  max-height: 500px;
  height: 245px;
}


  #content {
    background: #101641; /*url("../img/light-bg.jpg") no-repeat center center;*/
    color: #C7CAE0;
    text-align: left;
    padding: 30px;
  }

    #content #left-pane {
      padding: 0 0 0 0;
    }

    #content #left-pane .row {
      margin: 20px;
      margin-right: 0px;
    }

      #content .row .proj {
        padding: 20px;
        text-align: bottom;
        float: left;
      }

        #content .row .active {
          background-color: #C7CAE0;
          color: #101641;
          border-radius: 5px 0px 0px 5px;
        }

        #content .hovered {
          background-color: #424771;
          color: white;
          border-radius: 5px 0px 0px 5px;
        }

            #content #left-pane img.thumb {
              height: 120px;
              width: 120px;
              margin-right: 15px;
              display: block;
              border-radius: 5px;
            }

            #content #left-pane p {
              font-size: 24px;
              /*position: bottom;*/
            }

            #content #left-pane .row .proj .text {
              /*color: #c0745d;*/
            }

    #content #right-pane {
      background-color: #C7CAE0;
      color: #101641;
      padding-top: 30px;
      padding-left: 50px;
      padding-right: 50px;
      overflow: auto;
      min-height: 1319px;
      border-radius: 5px 5px 5px 0px;
      font-size: 14pt;
    }

    #content #right-pane iframe {
        display: block;
        margin: auto;
        margin-bottom: 20px;
        width: 45vw;
        height: 30vw;
        /*max-height: 300px;
        max-width: 100%;*/
    }

      #content #right-pane h1 {
        margin: 0px;
        margin-bottom: 20px;
      }

      #content #right-pane img.banner {
        /*height: 200px;*/
        /*width: auto;*/
        display: block;
        margin: auto;
        margin-bottom: 20px;
        height: auto;
        width: auto;
        max-height: 300px;
        max-width: 100%;
      }

