body {
    margin: 0px;
    padding: 0px;
    background: black; /*#190707;*/
    font-family: 'Raleway', sans-serif;
    font-size: 11pt;
  }

  .container {
    margin-left: 0px;
    margin-right: 0px;
  }

  #header
  {
    position: relative;
    height: 160px;
  }

    #header #header-text
    {
      color: white;
      margin-left: 12vw;
      padding-top: 40px;
      padding-bottom: 40px;
      position: relative;
      font-weight: 600;
    }

      #header #button {
        font-size:2em;
        height: 50px;
        width: 50px;
        border-radius: 5px;
        background-color: #190707;
        color: white;
        float: right;
        margin-right: 30px;
        margin-top: 20px;
        /*right: 30px;
        bottom: 10px;
        position: absolute;*/
      }

      #header #logo h1
      {
        float: left;
        font-weight: 500;
        font-size: 40px;
      }

      #header #dropdown
      {
        float: left;
        clear: both;
        margin-top: 0px;
        /*margin-right: 20px;*/
      }

  #banner
  {
    /*background: blue;*/
    background: url("../img/earth.jpg") no-repeat center center;
    background-size: cover;
    min-height: 245px;
    max-height: 500px;
    height: calc(25vh + 15vw);
    /*height: auto;*/
    /*width: 100vw;*/
  }

  #banner img
  {
    position: relative;
    height: 50px;
    width: 50px;
    min-width: 0px;
    min-height: 0px;
    margin-left: 10px;
    margin-top: 10px;
    float: left;
    z-index: 2;
    clear: both;
  }

  #nav
  {
    position: absolute;
    right: 0em;
  }

    #nav .main-menu {
    }

    #nav > ul
    {
      list-style-type: none;
    }

      #nav > ul > li
      {
        float: left;
      }

        #nav > ul > li > a
        {
          background: transparent;
          color: #FFF;
          display: block;
          font-size: 1em;
          letter-spacing: 0.06em;
          margin-left: 0.9em;
          margin-top: 1.4em;
          outline: 0;
          padding: 0.80em 1.3em;
          text-decoration: none;
        }
    
        #nav > ul > li:last-child
        {
          padding-right: 5em;
        }

        #nav li.active a
        {
          background: #02458A; /*#C06464;*/
          border-radius: 5px;
        }

  #dropdown
  {
    opacity: 0;
    display: none;
  }

  #dropdown > ul
    {
      list-style-type: none;
      padding: 0px;
    }

      #dropdown > ul > li
      {
        
      }

        #dropdown > ul > li > a
        {
          background: transparent;
          color: #FFF;
          display: block;
          font-size: 1em;
          letter-spacing: 0.06em;
          margin-left: 0px;
          margin-top: 1.4em;
          outline: 0;
          padding: 0.80em 1.3em;
          text-decoration: none;
        }
    
        #dropdown > ul > li:last-child
        {
          padding-right: 5em;
        }

        #dropdown li.active a
        {
          background: #C06464;
          border-radius: 5px;
        }

  #tail {
    position: relative;
    padding: 50px 0% 50px 0%;
    /*background: black;*/
  }
  
    #tail p {
      font-size: 14px;
      color: #001f3f;
      text-align: center;
    }

  .info {
    display: none;
  }